:root {
  --bg-color: #fff;
  --text-color: #212529;
  --bg-secondary-color: #f8f9fa;

  --border-color: rgba(0, 0, 0, 0.125);

  --nav-link: rgba(0, 0, 0, 0.55);
  --nav-link-focus: rgba(0, 0, 0, 0.75);
  --nav-link-active: rgba(0, 0, 0, 0.9);

  --nav-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --toggler-color: rgba(0, 0, 0, 0.55);
}
[data-theme="dark"] {
  --bg-color: #090c10;
  --text-color: #fff;
  --bg-secondary-color: #212529;

  --border-color: rgba(255, 255, 255, 0.125);

  --nav-link: rgba(255, 255, 255, 0.55);
  --nav-link-focus: rgba(255, 255, 255, 0.75);
  --nav-link-active: rgba(255, 255, 255, 0.9);

  --nav-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --toggler-color: rgba(255, 255, 255, 0.55);
}
