@import "bootstrap/scss/bootstrap";
@import "./colors";

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--bg-secondary-color);

  .navbar-brand {
    color: var(--text-color);
  }

  .nav-link {
    color: var(--nav-link);
    &:focus,
    &:hover {
      color: var(--nav-link-focus);
    }
    &.active {
      color: var(--nav-link-active);
    }
  }
}

main {
  padding-top: 60px;
  padding-bottom: 2rem;
}

.card {
  background-color: var(--bg-secondary-color);
  color: var(--text-color);
}

footer {
  background-color: var(--bg-secondary-color);
  color: var(--nav-link);
}
