@import "./includes/style.scss";
@import "./includes/list-group.scss";

.tab-nav-link.nav-link.active {
  color: #090c10;
  background-color: white;
}

.tab-nav-link.nav-link {
  color: white;
  background-color: #090c10;
}

#tvWidget {
  display: none;
}

#gitWidget {
  min-width: 800px;
}

.list-group-item {
  white-space: pre-line;
}
