@import "./style";
@import "./list-group";
@import "./colors";

#tvWidget {
  display: none;
}

.spinner-border {
  margin: auto;
  display: flex;
}

#photo {
  height: 15rem;
}

#mainContent {
  padding-bottom: 2rem;
}
