@import "./includes/style.scss";
@import "./includes/list-group.scss";
@import "./includes/colors";

#tvWidget {
  display: none;
}

.spinner-border {
  margin: auto;
  display: flex;
}

#photo {
  height: 15rem;
}

#mainContent {
  padding-bottom: 2rem;
}
