@import "./includes/style.scss";

@import "./includes/list-group.scss";

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

.github-icon {
  color: white;
  text-decoration: none;
  float: right;
}
.github-icon:hover {
  color: gray;
}
