@import "./style";
@import "./list-group";
@import "./colors";

.github-icon {
  color: var(--nav-link);
  text-decoration: none;
  float: right;
}
.github-icon:hover {
  color: var(--nav-link-hover);
}
